---
layout: default
---

{% include hero-section.html %}

{% include about-section.html %}

{% include skills-section.html %}

{% include experience-section.html %}

{% include education-section.html %}

<!-- comment out services section. Good to have.-->
{% comment %}
{% include services-section.html %}
{% endcomment %}

{% include testimonial-section.html %}

<!-- comment out client section. Good to have.-->
{% comment %}
{% include client-section.html %}
{% endcomment %}

<!-- comment out blogs. Good to have-->
{% comment %}
{% include blog-section.html %}
{% endcomment %}